#first{
    background-color: orange;
    height: 100px;
    width: 100px;
}
#second
{
    background-color: white;
}
#third
{
    background-color: green;
}
.same{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
}

